.courses{
    background: var(--color-primary);
}

.courses ul li{
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid #ccc;
}

.courses .card{
    max-width: 850px;
    transform: none;
}

.title-courses {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 40px 20px 40px;
}