header{
    padding: 2rem 5rem;
    box-shadow: 3px 3px 12px #00000014;
    position: relative;
}

.name{
    font-size: 1.6rem;
    font-weight: 700;
}

.name a{
    text-decoration: none;
    color:var(--color-third);
}

.profession{
    font-size: 1rem;
    font-weight: 500;
}

button{
    background: transparent;
    border: none;
}

.links-button ul li a{
    color: var(--color-third);
}

i{
    color:var(--color-secondary);
}

.wrapper-mobile{
    display: none;
}

.sidebar-menu{
    position: fixed;
    z-index: 1;
    top:0px;
    right: -100%;
    transition: 0.5s;

}

.wrapper-mobile.active .sidebar-menu{
    right: 0;
}

.sidebar-menu ul{
    gap: 15px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000029;
    color:var(--color-third);
}

.sidebar-menu ul li{
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.sidebar-menu ul li a{
    color:var(--color-third);
}

.sidebar-mobile{
    width:28px;
    height: 28px;
}

.close{
    background: #fff;
    box-shadow: 3px 3px 6px #000000;
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}

@media screen and (max-width: 991px){
    .wrapper-mobile{
        display: block;
    }
    .wrapper-desktop{
        display: none!important;
    }

    header{
        padding: 2rem 1.5rem;
    }

    .profession{
        font-size:0.8rem
    }

    .name{
        font-size: 1rem;
    }

    body .box-img{
        width:100%
    }


}

@media screen and (max-width: 375px){
    .name{
       font-size: 0.8rem;
    }

    .profession{
        font-size:0.7rem ;
    }

    .sidebar-mobile{
        width: 20px;
        height: 20px;
    }
}