body{
    position: relative;
}
footer{
    padding: 20px 40px 20px;
    box-shadow: 3px 3px 12px #00000014;
}

footer p{
    font-size: 0.7rem;
}

footer h2{
    font-size: 0.9rem;
}

.redes i{
    color:var(--color-third);
}

@media screen and (max-width: 575px){
    footer, .footer-contact{
        flex-direction: column-reverse!important;
        gap:30px;
    }

    .footer-contact{
        gap:25px;
    }

    footer{
        padding: 30px 40px 30px;
    }
}